@import url('https://fonts.googleapis.com/css?family=Lato');



body {
    margin: 0;
    /*background-image: url("images/bg.png") !importants;
  background-color: #000000;*/
    background-color: lightblue;
    font-family: 'Lato', sans-serif !important;
}

.spazetop {
    padding-top: 30px;
}

.spazebottom {
    padding-bottom: 30px;
}



/*Carousel Styles*/

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.gradienttop {
    display: inline-block;
    background-image: linear-gradient(90deg, black, transparent), linear-gradient(to top left, red 50%, black 50%);
}

.greycolor {
    color: grey;
}

.pulltobottom {
    position: absolute;
    bottom: 0;
}

.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid gray;
    border-right: 100px solid transparent;
}

.hdtxtcolor {
    color: grey;
}

.marginz {
    margin-left: : 2em;
    margin-right: 2em;
}

.margin10 {
    margin-left: : 10px;
    margin-right: 10px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.transparent {
    background-color: rgba(0, 0, 0, 0);
}

.centeraway {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-outline-success {
  background-color: #ADD8E6 ;
  color: #4A934A;
}

/* TreantJS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart { height: 500px; /*margin: 5px; */width: 100%; }
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;}

.nodeExample1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* background-color: #ffffff; */
    border: 1px dotted #000;
    width: 200px;
    font-family: Tahoma;
    font-size: 12px;
    text-align: center;
}

.nodeExample1 img {
    margin-right:  10px;
    align-content: center;
}


.Treant .collapse-switch {
  width: 100% !important;
  height: 100% !important;
  border: none !important;
}
/* .Treant .node.collapsed { background-color: #DEF82D; } */
.Treant .node.collapsed .collapse-switch { background: none; }

.centertext {
  text-align: center;
}
