/*WoodCutter.co Style Scheme*/
.woodblue {
    color: #2DA2AE !important;
}

/*Features Box Sizing*/
.equibox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
/*.equibox > [class*='col-'] {
     display: flex;
     flex-direction: column;
}*/
/*canvas and particles*/

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-overlay h1 {
    font-size: 4.2rem;
    white-space: nowrap;
    color: white;
}

canvas {
    display: block;
    vertical-align: bottom;
    min-height: 1200px;
}



/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
/*    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;*/
    
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, #212120); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #212120); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #212120); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #212120); /* Standard syntax (must be last) */
}

/*Form Message CSS*/

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/*Made with Love in Chennai*/
/* Working method */
.posterimage {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url('http://goldwallpapers.com/uploads/posts/film-poster-wallpaper/film_poster_wallpaper_012.jpg');
}

/*Video Background for Careers Page*/
.videobg {
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
   /* position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
*/}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
/*    height: 100%;
*/}

/*Layer over video*/
.vidoverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: black;
    opacity: 0.7;
}